<div class="controls">
    <button class="" #toggleReplyElement onclick="toggleReply(toggleReplyElement)">
        <span class="text">REPLY</span>
    </button>
    <span class="likesCount"></span>
    <button class="likeButton" onclick="likeComment(56, this, 237)">
        <img src="assets/images/icons/thumb-up.png">
        <span class="text"></span>
    </button>
    <button class="dislikeButton" onclick="dislikeComment(56, this, 237)">
        <img src="assets/images/icons/thumb-down.png">
        <span class="text"></span>
    </button>
</div>