<div class="signInContainer">
    <div class="column bg-white">
        <div class="header">
            <div id="headerTitle">
                <img src="assets\images\icons\sanjivaniLogo.png" title="logo" alt="Site logo">Sanjivani
            </div>
            <p>Sign In to continue to Sanjivani</p>
        </div>

        <div class="loginForm">
            <form (ngSubmit)="submitForm()" #signupform="ngForm">
                <input class="form-control" type="text" name="firstName" placeholder="First name"  [(ngModel)]="userModel.firstName" #firstnameInput="ngModel" required>
                <p><small class="text-danger" *ngIf="firstnameInput.invalid && firstnameInput.touched">Firstname is required</small></p>
                <input class="form-control" type="text" name="lastName" placeholder="Last name"  [(ngModel)]="userModel.lastName" #lastnameInput="ngModel" required>
                <p><small class="text-danger" *ngIf="lastnameInput.invalid && lastnameInput.touched">Lastname is required</small></p>
                <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password" #passwordInput="ngModel" required>    
                <p><small class="text-danger" *ngIf="passwordInput.invalid && passwordInput.touched">Password is required</small></p>
                <input class="form-control" type="text" name="username" placeholder="Username"[(ngModel)]="userModel.username" #usernameInput="ngModel" required>
                <p><small class="text-danger" *ngIf="usernameInput.invalid && usernameInput.touched">Username is required</small></p>
                <select name="role" id="role"  [(ngModel)]="userModel.role" #roleInput="ngModel" [class.is-invalid]="roleInput.invalid && roleInput.touched">
                    <option *ngFor="let role of roles" value={{role}}>{{ role }}</option>
                </select>
                <!-- <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                  </select> -->
                <p><small class="text-danger" *ngIf="roleInput.invalid && roleInput.touched">Please fill out this field.</small></p>
                <input class="form-control" type="text" name="PhoneNo" placeholder="Phone Number" [(ngModel)]="userModel.number" #phonenumberInput="ngModel" required>
                <p><small class="text-danger" *ngIf="phonenumberInput.invalid && phonenumberInput.touched">Phone number is required.</small></p>
                <input class="form-control" type="email" name="email" placeholder="Email" [(ngModel)]="userModel.email" #emailInput="ngModel" required>
                 <p><small class="text-danger" *ngIf="emailInput.invalid && emailInput.touched">Email is required.</small></p>
                <input class="form-control" type="email" name="email2" placeholder="Confirm email" [(ngModel)]="userModel.email" #confirmemailInput="ngModel"required>
                <p><small class="text-danger" *ngIf="confirmemailInput.invalid && confirmemailInput.touched">Please fill out this field.</small></p>
                <input class="form-control" type="submit" name="submitButton" [disabled]="signupform.invalid" value="SUBMIT">
            </form>
        </div>

        <div class="signInMessage" routerLink="/login">Already Have an account? Sign in here!</div>
    
    </div>

</div>